target/**
*.jar
*.war
*.ear
*.class

.idea
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath

*~
*.swp
.DS_Store

pom.xml.target
pm.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.log
